<div class="search">
  <div id="pmd-slider-range-tooltip-bottom-lower"
       class="pmd-range-slider pmd-range-tooltip pmd-range-tooltip-left-bottom"
  >
  </div>
  <md-input-container>
  <input mdInput [formControl]="stateCtrl" placeholder="State" [mdAutocomplete]="auto" (sendUpValue)="getStateCtrl($event)">
</md-input-container>
  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let state of filteredStates | async" [value]="state" (click)="routeCounty(state)">
      {{ state }}
    </md-option>
  </md-autocomplete>
</div>
