@backgroundHeader: #3f51b5;
@colorNormal: #607d8d;
@colorLight: #757575;
@backgroundFon: #e1e1e1;

@test: ~" header";
@{test} {
  height: 50px;
  width: 100%;
  background-color: @backgroundHeader;
}
nav {
  padding: 7px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-button {
  height: 36px;
  background-color: rgba(0,0,0,.2);
  color: #fff;
}
.search {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px 20px;
  height: 90px;
}
@media screen and (min-width: 1024px) {
  .search {
    width: 600px;
  }
  md-input-container {
    width: 560px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .search {
    width: 400px;
  }
  md-input-container {
    width: 360px;
  }

}
@media screen and (max-width: 767px) {
  .search {
    width: 300px;
  }
  md-input-container {
    width: 260px;
  }
}


