<button md-button class="button-view-filter" (click)="toggleFilter()">Filters</button>
<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="{{viewFilter}}">
    <app-filter-list>

    </app-filter-list>
  </md-sidenav>
  <div class="paginator">
    <div class="items">
      <md-card>
        £34,900
      </md-card>

    </div>
    <md-paginator [length]="length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="pageEvent = $event">
    </md-paginator>
  </div>
</md-sidenav-container>
