<button md-button class="button-view-filter" (click)="toggleFilter()">Filters</button>
<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="{{viewFilter}}">
    <app-filter-list>

    </app-filter-list>
  </md-sidenav>
  <div class="paginator">
    <div class="items">
      <md-card *ngFor="let item of listings"
               class="item">
        <div class="item-icon">
          <img src="{{item.img_url}}">
        </div>
        <div class="item-info">
          <span class="price">{{item.price_formatted}}</span>
          <span class="title">{{item.title}}</span>
        </div>
        <span></span>
      </md-card>
    </div>
    <md-paginator [length]="length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="reloadListing($event)"
    >
    </md-paginator>
  </div>
</md-sidenav-container>
