<app-search-input></app-search-input>
<div class="main-search">
  <div class="list-group">
    <ng-container>
      <a *ngFor="let item of searchHistory"
         class="list-group-item list-group-item-action"
         (click)="routeCounty(item)"
      >{{item}}
        <img class="delete-icon"
             src="../../assets/icons/ic_clear_black_24px.svg"
             (click)="removeItemSearchHistory(item);$event.stopPropagation()"
        >
      </a>
    </ng-container>
    <md-card *ngIf="searchHistory.length == 0">
      Not recent.
    </md-card>
  </div>
</div>
