<div class="main-search">
  <div class="row-search">
    <md-input-container>
      <input class="myInput" mdInput placeholder="e.g. London">
    </md-input-container>
    <button md-mini-fab>
      <img src="../../assets/ic_search_black_24dp/ic_search.png">
    </button>
  </div>
  <div class="list-group">
    <a href="/" class="list-group-item list-group-item-action">London</a>
    <a href="/" class="list-group-item list-group-item-action">New York</a>
    <a href="/" class="list-group-item list-group-item-action">Berlin</a>
    <a href="/" class="list-group-item list-group-item-action">Paris</a>
    <a href="/" class="list-group-item list-group-item-action">Amsterdam</a>
  </div>
</div>
